/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
}

/* Recipe selection form */
.recipe-selection {
    text-align: center;
}

#selected-recipe {
    padding: 10px;
    font-size: 18px;
    width: 300px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
}

/* Recommended recipes */
.recommended-recipes {
    text-align: center;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.recipe-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-details {
    margin-top: 10px;
}

.recipe-title {
    margin: 5px 0;
    font-size: 18px;
}

.recipe-link {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.recipe-link:hover {
    background-color: #e0e0e0;
}
.refresh-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    margin-left: 10px; /* Adjust the margin as needed to position the button */
    transition: background-color 0.3s ease;
}

.refresh-btn:hover {
    background-color: #e0e0e0;
}